= form_tag do
  .my-container
    = label_tag 'first_text_field', 'First Text field'
    = text_field_tag 'first_text_field', 'First value'

  .my-container
    = label_tag 'second_text_field', 'Second Text field'
    = text_field_tag 'second_text_field', 'Second value'
