= form_tag do
  .form-group.my-error
    = label_tag 'text_control', 'A'
    = text_field_tag 'text_control', 'Text control value'
    %p.my-error-description
      A is invalid
  .form-group.my-error
    = label_tag 'textarea_control_1', 'B'
    = text_area_tag 'textarea_control_1', "Textarea control line 1\nTextarea control line 2\n"
    %p.my-error-description
      B is invalid
  .form-group.my-error
    = label_tag 'disabled_control', 'Disabled'
    = text_field_tag 'disabled_control', "Disabled control value", disabled: true
    %p.my-error-description
      Disabled is invalid
  .form-group
    = label_tag 'textarea_control_2', 'C'
    = text_area_tag 'textarea_control_2', "Textarea control line 1\nTextarea control line 2\n"
